<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo Picasso</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
</head>
<body>
    <header>
      <div class="topColor">
        <div>
        
          <h1>WHO WAS PICASSO?</h1>
        </div>
        <nav>
            <ul>
              <li><a href="/home">HOME</a></li>
              <li><a href="/gallery">GALLERY</a></li>
              <li><a href="/works">WORKS</a></li>
            </ul>
          </nav>
      </div>   
    
    </header>
    <p>From c. 1907-1917, Pablo Picasso pioneered the Cubism movement, a revolutionary style of modern art that Picasso formed in response to the rapidly changing modern world. In collaboration with his friend and fellow artist Georges Braque, Picasso challenged conventional, realistic forms of art through the establishment of Cubism. He wanted to develop a new way of seeing that reflected the modern age, and Cubism is how he achieved this goal.

      Picasso did not feel that art should copy nature. He felt no obligation to remain tied to the more traditional artistic techniques of perspective, modeling, and foreshortening and felt two-dimensional object. Picasso wanted to emphasize the difference between a painting and reality.Cubism involves different ways of seeing, or perceiving, the world around us.  Picasso believed in the concept of relativity – he took into account both his observations and his memories when creating a Cubist image. He felt that we do not see an object from one angle or perspective, but rather from many angles selected by sight and movement. As a result of this belief, Cubism became about how to see an object or figure rather than what the artist was looking at.</p>


      <p>African art and the modern, urban street life of Paris greatly influenced Picasso’s conception of Cubism. In addition, Picasso became fascinated with the process of construction and deconstruction, a fascination that is evident in his Cubist works.

        When creating these Cubist pieces, Picasso would simplify objects into geometric components and planes that may or may not add up to the whole object as it would appear in the natural world. He would distort figures and forms and simultaneously depict different points of view on one plane.</p>


        <p>Picasso actively created works of Cubist art for around ten years. Within this time span, his Cubist style subtly evolved from Analytical Cubism (1907-1912) to Synthetic Cubism (1913-1917). With Analytical Cubism, Picasso utilized a muted color palette of monochromatic browns, grays, and blacks and chose to convey relatively unemotional subject matters such as still lifes and landscapes. He placed an emphasis on open figuration and abstraction, but did not yet incorporate elements of texture and collage.</p>


          <p>While the majority of Picasso’s works of Cubism are paintings, he also created stunning prints; etchings, lithographs and linocuts in the style of Cubism. Such Cubist prints are exceedingly rare and are often created after the image of renowned Picasso Cubist paintings such as Still Life with a Bottle of Rum (1911).  Picasso also incorporated pochoir, or hand-applied watercolor, to the majority of his Cubist prints, further contributing a sense of texture and color. As Picasso is credited with establishing and spearheading Cubism, these Cubists prints are iconic, they remain amongst his most collectible and treasured graphic works to date..</p>


        
      
</body>
</html>



