<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo Picasso</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
</head>
<body>
   
    <header>
      <div class="topColor">
        <div>
        
          <h1>GALLERY PAGE</h1>
        </div>
        <nav>
            <ul>
              <li><a href="/home">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/works">WORKS</a></li>
            </ul>
          </nav>
      </div>   
    
    </header>
    <div class="imagesGallery">
      <img class="img1" src="/images/picasso1.jpeg" alt="">
      <img class="img2" src="/images/picasso2.jpeg" alt="">
      <img class="img3"src="/images/picasso3.jpeg" alt="">
      <img class="img4"src="/images/picasso4.jpeg" alt="">
      <img class="img5" src="/images/picasso5.jpeg" alt="">
    </div>
    
</body>
</html>

