<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pablo Picasso</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
</head>
<body>
  
  <header>
    <div class="topColor">
      <div>
      
        <h1>PABLO PICASSO</h1>
      </div>
      <nav>
          <ul>
            <li><a href="/about">ABOUT</a></li>
              <li><a href="/gallery">GALLERY</a></li>
              <li><a href="/works">WORKS</a></li>
          </ul>
        </nav>
    </div>   
  
  </header>
    <img class="mainImage" src="/images/homeImage.jpg" />

</body>
</html>




